{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				<fieldset class="mb-3">
					<legend>Mon identité</legend>
					{{ form_row(registrationForm.lastname) }}
					{{ form_row(registrationForm.firstname) }}
				</fieldsetclass="mb-3">
				<fieldset>
					<legend>Authentification</legend>
					{{ form_row(registrationForm.username) }}
				</fieldset>
				{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary btn-lg my-3">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>

{% endblock %}
